MAIL_USERNAME=
MAIL_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USERNAME=
MYSQL_PASSWORD=
ALIYUN_OSS_KEYID=
ALIYUN_OSS_KEYSECRET=
ALIYUN_OSS_BUCKETNAME=
DASHSCOPE_API_KEY=